<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/admin/form_categoria.css">
	</head>
	
	<body>
		<h1> Modifica categoria</h1>
		<form th:action="@{'/admin/edit_categoria'+'/'+${categoria.id}}" method="POST" th:object="${categoria}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<div>
				<span>Nome:</span> 
				<span>
					<input type="text" th:field="*{nome}" th:value="*{nome}" />
				</span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div>
				<span><button type="submit">CONFERMA</button></span>
			</div>
		</form>
	</body>
</html>

