<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
	</head>
	
	<body>
		<h1>Aggiungi un trainer</h1>
		<form th:action="@{/admin/new_trainer}" method="POST" th:object="${trainer}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<div>
				<span>Nome:</span> <span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div>
				<span>Cognome:</span> <span><input type="text"
					th:field="*{cognome}" /></span> <span
					th:if="${#fields.hasErrors('cognome')}"
					th:errors="*{cognome}"></span>
			</div>
			<div>
				<span>Descrizione:</span>
				<span><input type="text" th:field="*{descrizione}"/></span>
				<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>
			<div>
				<span><button type="submit">CONFERMA</button></span>
			</div>
		</form>
	</body>
</html>

