<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div>
		<h4>Lista dei trainer</h4>
	</div>
	
	<a th:href="@{/admin/crea_trainer}"> ➕</a>
	
	<div>
		<ul>
			<li th:each="trainer : ${trainers}">
				<a th:href="@{'/admin/dettagli_trainer'+'/'+${trainer.id}}" th:text="${trainer.nome}+' '+${trainer.cognome}"></a>
				<a th:href="@{'/admin/modifica_trainer'+'/'+${trainer.id}}">📝</a>
				<a th:href="@{'/admin/delete_trainer'+'/'+${trainer.id}}">🗑</a>
			</li>
		</ul>
	</div>
	<footer>
		<a th:href="@{/admin/homeadmin}">Home</a>
	</footer>
</body>
</html>