<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/categorieAdmin.css">
	</head>
	<body>

		<h2>TRAINERS</h2>
		
		<div id="wrapper">
			<div id="elenco">
				<ul>
			<li th:each="trainer : ${trainers}">
				<a th:href="@{'/admin/dettagli_trainer'+'/'+${trainer.id}}" th:text="${trainer.nome}+' '+${trainer.cognome}"></a>
			</li>
		</ul>
			</div>
			<div id="select">
				<h3>SELEZIONA UN TRAINER...</h3>
				<div id="add" >
					<div class="tooltip">
						<a th:href="@{/admin/crea_trainer}">➕</a>
						<div class="tooltiptext">
							<span>Aggiungi</span>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		
		<div id="home">
			<a th:href="@{/admin/homeadmin}">Home</a>
		</div>
	</body>
</html>
