<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Home </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/homeAdmin.css">
	</head>
	
	<body>
		<h1>AMMINISTRAZIONE</h1>
		<p>qui puoi modificare contenuti del sistema siwfit.</p>
		<div >
			<ul>
				<li><a th:href="@{/admin/categorie}">Categorie</a></li>
				<li><a th:href="@{/admin/trainers}">Trainers</a></li>
				<li><a th:href="@{/admin/corsi}">Corsi</a></li>
			</ul>
		</div>
		
		<div>
	</div>

</body>
</html>