body {
    background-color: black;
    margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
    font-family: "Gilroy-HeavyItalic",sans-serif;
}

#wrapper {
	border: solid #2a2a2e;
    width: 80%;
    margin: auto;
    background: #141414;
    margin-top: 8%;
    border-radius: 6px;
    height: fit-content;
    display: flex;
    color: white;
}

a {
	color:white;
	text-decoration:none;
}

ul {
    list-style: none;
    /* margin-left: 9%; */
    padding-inline-start: 0%;
}

li {
	margin-top: 10%;
}

li:last-child {
	margin-bottom:10%;
}

#elenco {
	border-right: solid #2a2a2e 3px;
    width: 19%;
    text-align: center;
}

h3 {
    color: #2a2a2e;
    text-align: center;
    width: 100%;
}

#dettagli {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#elencoCorsi {
    list-style:none;
    padding-inline-start: 0%;
}

#modifiche-btn {
    margin-top: 3%;
}

#corso {
    margin-top: 2%;
}

h4 {
    margin-bottom: 0%;
}

#selected {
    border-left: solid #ff5d66;
}

#selected a {
    color: #ff5d66;
}


