body {
    background-color: black;
    margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
    font-family: "Gilroy-HeavyItalic",sans-serif;
}

header {
	position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

img {
    height: 60px;
    margin-left: 22%;
    margin-top: 20%;
}

#container {
    padding-left: 10%;
    padding-top: 2.5%;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #ff5d66;
    pointer-events: cursor;
}

#categorie {
    color: #ff5d66;
}

#corsi_wrapper {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-bottom: 5%;
    border-radius: 6%;
    margin-top: 2%;
}

#corso {
	background-image: url("/images/prova.jpeg");
    margin-right: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 25%;
    height: 400px;
    margin-bottom: 3%;
}

#dettagli_corso {
	font-size: x-large;
	margin: 5%;
}

ul {
	margin: 3%;
	margin-top: 12%;
}

#nome_cat {
	color: white;
	font-size: xx-large;
	margin: 2%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color:white;
  background-image: url("/images/user.png");
  height:60px;
  width:60px;
  border-radius:50%;
  background-size: cover;
  margin-left: 350px;
  margin-top: 2%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -225%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
 content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#logout {
	margin-right:0;
	color:white;
}

#logout:hover {
	color:#ff5d66;
}

.link_nav {
    text-decoration: none;
    color: aliceblue;
    margin-right: 30px;
}

.link_nav:hover {
    color: #ff5d66;
    pointer-events: cursor;
}

#sfondo {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
