body {
    background-image: url("/images/sfondo_admin.jpeg");
    margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
    font-family: "Gilroy-HeavyItalic",sans-serif;
    background-size: cover;
    background-position-y: 777px;
}

#wrapper {
	margin-left: 15%;
    margin-top: 10%;
    color: white;
    font-size: larger;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	background: #ff5d66;
}

h1 {
	text-align:center;
	color:#ff5d66;
	margin-top:3%;
}

ul {
	color: #ff5d66;
}

li {
	margin-bottom: 1%;
}

#logout {
	margin-left: 5%;
    margin-top: 16%;
}

#logout a {
	color: #ff5d66;
	font-size: 30px;
}

#logout a:hover {
	color: white;
	background: none;
}

