body {
    background-color: black;
    margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
    font-family: "Gilroy-HeavyItalic",sans-serif;
}

header {
	position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
}

img {
    height: 80px;
    margin-left: 20%;
    margin-top: 20%;
}

#container {
    padding-left: 10%;
    padding-top: 2.5%;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 30px;
}

a:hover {
    color: #ff5d66;
    pointer-events: cursor;
}

h1 {
    margin: unset;
    padding-top: 5%;
    padding-right: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color:white;
  background-image: url("/images/user.png");
  height:60px;
  width:60px;
  border-radius:50%;
  background-size: cover;
  margin-left: 350px;
  margin-top: 2%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -225%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
 content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#logout {
	margin-right:0;
	color:white;
}

#logout:hover {
	color:#ff5d66;
}

#wrapper {
	width: 100%;
    height: 514px;
    display: flex;
    margin-top: 10%;
}

#img_wrapper {
	/*background-image: url(/images/corso.jpeg);*/
    width: 50%;
    height: 100%;
    background-position-y: 70%;
   	background: linear-gradient(to right, transparent 75%, black), url(/images/trainer.jpg);
   	background-size: cover;
    background-position: center top 40%;
}

#dettagli_wrapper {
	width:50%;
	color:aliceblue;
}

#corso {
	background-color: pink;
    margin-right: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 24%;
    height: 30%;
    justify-content: center;
    margin-bottom: 3%;
}

#dettagli_corso {
	font-size: medium;
    margin: 5%;
}

#link_corso, #difficolta {
	margin: unset;
}

#corsi_wrapper {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h4 {
	text-align: center;
}







